<% provide(:title, "Exams") %>
<h1 class="center">Exams</h1>

<section id="all_exams">
	<ul>
		<li>
			<a href="/general_english">
				<p>General English</p>
			</a>
			<p>Time: 90 minutes.</p>
		</li>
		<li style="background-color: blue;">
			<a href="/">
				<p>General English</p>
			</a>
			<p>Time: 90 minutes.</p>
		</li>
		<li style="background-color: red;">
			<a href="/">
				<p>General English</p>
			</a>
			<p>Time: 90 minutes.</p>
		</li>
		<br><br>
		<li style="background-color: green;">
			<a href="/">
				<p>General Engslish</p>
			</a>
			<p>Time: 90 minutes.</p>
		</li>
		<li style="background-color: yellow;">
			<a href="/">
				<p>General English</p>
			</a>
			<p>Time: 90 minutes.</p>
		</li>
	</ul>

</section>
