<% provide(:title, "Home") %>
<section class="intro">
	<div class="inner">
		<div class="content">
			<h1>Welcome to English Exams</h1>
			<a href="/signup"><button class="btn btn-primary">Sign Up Now!</button></a>
				
		</div>	
	</div>
</section>
